{% extends "base.html" %}


{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://media.discordapp.net/attachments/1053758657524932679/1065010001443303524/rounded-in-photoretrica.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Ласкаво просимо до Microblog!</h1>
        <p class="lead">Мінімалістика, швидке знаходження інформації, проста навігація, легка авторизація та багато іншого. І це все про нас! Швидше створюй першу статтю на форумі або прочитай більше інформації про Microblog.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Створити статтю</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/about" class="nav-link active" aria-current="page">Про нас</button>
        </div>
      </div>
    </div>
  </div>

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наші переваги</font></font></h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Избранное название</font></font></h3>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Абзац текста под заголовком для пояснения заголовка.</font></font></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

